body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: lightsteelblue;
}

input {
  vertical-align: middle;
}

.container {
  padding-left: 10px;
}

#row {
  border-top: 1px solid #aaaaaa;
  border-bottom: 5px solid #aaaaaa;
  margin: 0 10px 0 10px;
}

#infobar {
  padding: 0 5px 0 0;
  overflow: auto;
  height: 90vh;
  border-right: 3px solid #aaaaaa;
}

#back {
  text-align: center;
  padding-bottom: 10px;
}

#map {
  height: 90vh;
  position: relative;

}

#coordinates {
  position: absolute;
  top: 9px;
  left: 50px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}

#menu {
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 9px;
  right: 15px;
  width: 130px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
}
   
#menu label {
  font-size: 13px;
  display: block;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  #infobar {
    height: 100%;
    border-right: 0;
  }
}
